* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #adadad;
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    font-size: 16px;
    line-height: 1.6;
    color: #cbcbcb;
    text-shadow: #767676;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(105,105,105,0.835171568627451) 2%, rgba(46,46,46,0.8463760504201681) 30%, rgba(0,0,0,0.8743872549019608) 100%);
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(80, 80, 80, 0.1)
}

header h1 {
    text-align: left;
    font-size: 3rem;
    color: #c9c9c9;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 1rem;
}

nav ul li {
    display: inline-block;
    margin: 0 1.5rem;
}

nav ul li a {
    color: #a3a3a3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #818181;
}

.hero {
    margin-top: 2%;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:9px;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    padding: 15px;
    padding-bottom:30px ;
}

.hero h2 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    text-align: justify;
    padding:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.hero p {
    font-size: 1.2rem;
    margin-bottom:
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.footer p {
    text-align: center;
    font-size: 1rem;
    color: #cbcbcb;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    margin-top: 2rem;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    padding: 20px;
    margin-top: 2%;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 2%;
    border-radius:9px;
    border-style: solid;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.exercises {
    margin-top: 2%;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:9px;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    padding: 15px;
    padding-bottom:30px; 
    color: #dfdfdff9;
}

.exercises h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.exercises p  {
    font-size: 1rem;
    margin-top: 1.5rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.exercises h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom:1rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.routines {
    margin-top: 2%;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:9px;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    padding: 15px;
    padding-bottom:30px; 
    color: #dfdfdff9;
}

.routines h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.images h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom:1rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.images p {
    font-size: 1rem;
    margin-top: 1.5rem;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.image-container {
    display: flex;
    justify-content:center;
    align-items: justify;
    
}  

.column{
    margin: 50px;
    min-height: 250px;
    min-width: 250px;
    border-style:solid;
    border-radius:9px;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    text-align: justify;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
}

img {
    border-radius: 12px;
    padding-top: 30px;
    padding-left: 50px;
}

li { 
    margin-bottom:15px;
}

.tools{
    margin-top: 2%;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:9px;
    border-color: rgb(50, 50, 50);
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    padding: 15px;
    padding-bottom:30px ;
}

.tools ul {
    padding-left: 20px;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:visited {
    color: #dedede;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #5f5f5f;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:active {
    color: #cbcbcb;
    text-decoration: none;
    transition: color 0.3s ease;
}
